.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .value {
        text-align: center;
        position: absolute;

        p {
            font-weight: bold;
            margin: 0;

            &:nth-child(1) {
                font-size: 1.5em;
            }

            &:nth-child(2) {
                font-size: 1.2em;
            }

            &:nth-child(3) {
                font-size: 0.8em;
            }
        }
    }
}
