.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: space-around;
    align-items: center;
}

.inner {
    min-width: 400px;
}
